body{
    background-color: black;
    margin: 0;
}

/* ヘッダー関連 */
#header {
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	height: 5svh;
	border-width: 1px;
	border-color: rgb(245, 245, 247, .5);
	border-bottom-style: solid;
}

#logo {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 25vw;
}

#hover-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(245, 245, 247, .2);
	z-index: 100;
	display: none; /* header.jsでflexに変更される */
	justify-content: space-between;
	backdrop-filter: blur(12px);
	height: 5svh;
	border-width: 1px;
	border-color: rgb(245, 245, 247, .5);
	border-bottom-style: solid;
}

#name {
	width: 30%;
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	margin-top: 10px;
	margin-left: 25vw;
}

nav {
	width: 30%;
}

/* 上に上がる動き */

#hover-header.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
	transform: translateY(0);
  }
  to {
    opacity: 0;
	transform: translateY(-100px);
  }
}

/* 下に下がる動き */

#hover-header.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 0;
	transform: translateY(-100px);
  }
  to {
  	opacity: 1;
	transform: translateY(0);
  }
}

/* ボタンの装飾 */
.blue_button {
	text-decoration: none;
	display: block;
	gap: 8px;
	align-items: center;
	justify-content: center;
	width: 10%;
	font-family: sans-serif;
	font-size: 16px;
	color: #fff;
	text-align: center;
	overflow-wrap: anywhere;
	background-color: #0000ff;
	border-radius: 32px;
	margin-top: 10px;
}

.content{
    width: 100%;
}

.content .padding{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100svh;
}

/* 画像表示用ボックス関連 */
#title_img_box{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#title_img {
	width: 100%;
}

#anim01_img_box{
    position: sticky;
    width: 100%;
    height: 100svh;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#anim01_img{
    width: 100%; 
}

/* スマホ用 */
@media only screen and (max-width:520px) {
	#name {
		font-size: 20px;
		margin-top: 5px;
		margin-left: 2vw;
	}

	.blue_button {
		font-size: 14px;
		width: 50%;
		margin-top: 6px;
		margin-right: 2vw;
		margin-left: auto;
	}
}

