body{
    background-color: black;
    margin: 0;
}

.content{
    width: 100%;
}

.content .padding{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#anim_img_box{
    position: sticky;
    width: 100%;
    height: 100vh;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#anim_img{
    width: 100%;
}
